.am-list-item .am-list-line .am-list-content {
  font-size: .28rem;
}

.wx-circle {
  height: 100%;
  padding-bottom: 1rem;
}

.circle-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0.9rem;
  line-height: 0.9rem;
  width: 100%;
  background-color: gray;
  text-align: center;
  font-size: .28rem;
}

.wx-postings {
  // position: relative;
  height: 100%;
  padding-bottom: 2rem;
}


.postings-bottom {
  // padding-left: 0.1rem;
  // padding-right: 0.2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0.9rem;
  width: 100%;
  .am-list-item .am-input-control input{
      display: inline-block;
      height: 60px;
  }
}

.wx-circle-my {
  .my-header {
    height: 2rem;
    text-align: center;
  }
}

.fixed-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.88rem;
  z-index: 10000;
  background: #efeff4;
}

.wx-postings-add {
  // padding-top: 0.9rem;
}

/*@media (device-width:375px) and (-webkit-min-device-pixel-ratio:2){
    .am-wingblank.am-wingblank-lg{
        height:9.4rem !important
    }
}
@media screen and (device-aspect-ratio: 40/71) {
    .am-wingblank.am-wingblank-lg{
        height:7.3rem !important
    }
}*/