.wx-cartbar {
  box-sizing: border-box;
  height: 1.1rem;
  border-top: 1PX solid #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: bottom 0.2s;
  transition: bottom 0.2s;
  -webkit-box-sizing: border-box;
  z-index: 100;
  background-color: white;
  .am-flexbox .am-flexbox-align-middle {
    padding-top: 0;
    padding-left: 0;
  }

  .addCart,
  .goBuy {
    .am-button {
      font-size: .28rem;
    }
  }
}
