.wx-goods-detail-spec-group {
  .am-tag-active {
    background-color: #fff;
    color: #E43F47;
    border: 1PX solid #E43F47;
  }

  .am-tag {
    border-radius: .06rem;
    display: inline-block;
    position: relative;
    font-size: .28rem;
    padding: 0.1rem .4rem;
    margin: 0.2rem;
    text-align: center;
    height: .48rem;
    line-height: .48rem;
  }

  .am-tag-normal {
    background-color: #fff;
    color: #888;
    border: 2PX solid #ddd;
  }
}
